{% extends "_base.html" %}


{% block content %}

    <div class="text-center">
        {% load staticfiles %}
        <p>Upload your goddamn image!</p>
    </div>

    <br>

    <form action="/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>

        <p>{{ form.label_tag }} {{ form.help_text }}</p>

        <p>
            {{ form.errors }}
            {{ form.imgField }}
        </p>
        </p>

        <p><input type="submit" value="Upload"/></p>
    </form>

    <br>
    <hr>

    <div>
        {% if images %}
            <ul>
                {% for image in images %}
                    <li><a href="{{ image.imgFile.url }}"></a><img src="{{ image.imgFile.url }}" alt="None"></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No images.</p>
        {% endif %}

    </div>

{% endblock content %}